@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$fontSize: 16px;
$fontFamily: 'Karla', sans-serif;
$title: hsl(179, 62%, 43%);
$subscriptionBackground:hsl(179, 93%, 37%);
$btnBackground: hsl(71, 73%, 54%);
$communityBackground: hsl(0, 0%, 100%);
$monthlyPrice: hsla(0, 0%, 100%, 0.644);
$text: hsl(218, 22%, 67%);
$mainBackground: hsl(218, 80%, 96%);